In [1]:
#Heroes of Pymoli
#Dependencies

import pandas as pd
import os

In [2]:
#Load Files

csvpath = os.path.join('Resources', 'purchase_dataA.json')
csvpath2 = os.path.join('Resources', 'purchase_data2A.json')

purchasedata_df = pd.read_json(csvpath, orient = 'records')
purchasedata2_df = pd.read_json(csvpath2, orient = 'records')

In [7]:
purchasedata_df.columns
purchasedata_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [8]:
purchasedata2_df.head()
#purchasedata2_df.columns

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

In [11]:
#Combine the data files

frames = [purchasedata, purchasedata2]
result = pd.concat(frames)

NameError: name 'purchasedata' is not defined